<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#from" ).datepicker({
      defaultDate: "-1w",
      changeMonth: true,
      numberOfMonths: 2,
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "-1d",
      changeMonth: true,
      numberOfMonths: 2,
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
  </script>

<h1>A Rails test project</h1>

<%= link_to 'My Blog', controller: 'articles' %>
<br>
<hr>

<h2>Challenge 1 - Last.fm</h2>

<b>Development note:</b> Here I began to implement the challenge but I was unable to finish it for the deadline. Enter some information and press submit to go to the next page.
<br>
<br> Please enter a last fm listener's name and the beginning and end date for the listening history you wish to retrieve for that listener: 
<br> 
<%= form_tag(listenerstats_path, :method=>'post') do %>
	Listener's name:
	<%= text_field_tag "listenerName" %> <br />
	<label for="from">From</label>
	<input type="text" id="from" name="from">
	<label for="to">to</label>
	<input type="text" id="to" name="to">
	<%= submit_tag 'Submit' %>
<% end %>
<hr>
<h2>Challenge 2 - Cat Database</h2>
<p>Cat Database is a simple Ruby on Rails 4 web application which is used for managing information about cats.</p>
<p>Application front page should show a list of cats in the database with details and pictures of the cats
You can add more cats to the database by filling out cat addition form. You can also upload a picture of a cat if available.
Details of the cats (Name, color, picture, race, gender) can also be edited and you can also completely delete a cat from the database
(but you will get a confirmation box in the browser "are you sure you want to delete this cat?")</p>
<h2>Challenge 2b - Cat Database in Scala</h2>
Not done
<h2>Challenge 3 - Responsive data visualisation</h2>
Note done



